confirm-access-code-page {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
}

confirm-access-code-page h3 {
  flex: 1;
}

confirm-access-code-page form {
  flex: 1;
}

confirm-access-code-page input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.4em;
  width: 100%;
}

confirm-access-code-page button {
  display: block;
  margin: auto;
}
