body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  /* margin: auto; */
}

/* send-access-code-page,
confirm-access-code-page, {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
} */

/* input {
  width: 100%;
  margin-bottom: 1.2em;
  display: block;
} */
