@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  background-color: #313131;
  color:white;
}

@keyframes ldio-xbnsfew163g {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}

.ldio-xbnsfew163g div {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-top-color: transparent;
  border-radius: 50%;
}

.ldio-xbnsfew163g div {
  animation: ldio-xbnsfew163g 1s linear infinite;
  top: 20px;
  left: 20px
}

.loadingio-spinner-rolling-zgo8zzb55vk {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-xbnsfew163g {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-xbnsfew163g div { box-sizing: content-box; }